.btn {
  float: left;
  margin-right: 12px;
  margin-bottom: 5px;
  padding: 8px 15px;
  min-width: 80px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  background: $blue;
  border-radius: 3px;

  &:hover {
    color: #fff;
    background: darken($cyan, 2%);
  }

  .table-wrapper > & {
    margin-left: 30px;
    margin-bottom: 18px;
  }
}

.create-btn {
  margin-bottom: 15px;
}

.lock-btn {
  width: 35px;
  padding: 8px 8px 5px;

  &:hover {
    color: #444;
    background: #fff;
  }
}

.delete-btn:hover {
  background: darken($red, 5%);
}
