.obj-form-frame {
  display: table;
  width: 100%;
  padding: 15px;
  background: $light-grey;
  border: 1px solid darken($light-grey, 11%);
  &.readonly {
    background: none;
    border-color: darken($light-grey, 5%);
  }
}

.obj-form td {
  padding: 8px 15px;
}

.obj-form-lock {
  font-size: 24px;
}

.form-field {
  padding: 12px;
  width: 100%;
  font-family: inherit;
  border: 1px solid darken($light-grey, 11%);
  .readonly & {
    color: #545454;
    border-color: darken($light-grey, 5%);
  }
}

.field-label {
  width: 80px;
  text-align: right;
  font-weight: bold;

  &:after {
    content: ":";
  }
}
