.btn {
  float: left;
  margin-right: 12px;
  margin-bottom: 5px;
  padding: 8px 15px;
  color: #444;
  text-align: center;
  cursor: pointer;
  background: #fafafa;
  border-top: 1px solid #eee;
  box-shadow: 0 1px 1px #999;

  &:hover {
    color: #fff;
    background: #2186c1;
    box-shadow: 0 0 1px #888;
    border-top-color: transparent;
  }
}

.create-btn {
  margin-bottom: 15px;

  &:hover {
    background: #26a69a
  }
}

.lock-btn {
  width: 35px;
  padding: 8px 8px 5px;

  &:hover {
    color: #444;
    background: #fff;
  }
}

.delete-btn:hover {
  background: #da0b0b;
}
