.obj-form-frame {
  display: table;
  width: 100%;
  padding: 15px;
  background: #fafafa;
  border: 1px solid #ddd;
}

.obj-form td {
  padding: 8px 15px;
}

.obj-form-lock {
  font-size: 24px;
}

.form-field {
  padding: 12px;
  width: 100%;
  font-family: inherit;
  border: 1px solid #ddd;
}

.field-label {
  width: 80px;
  text-align: right;
  font-weight: bold;

  &:after {
    content: ":";
  }
}
