.header {
  position: fixed;
  width: 100%;
  height: 50px;
  padding: 0 15px;
  color: #eaeaea;
  background: #333;
  z-index: 2;

  a:hover {
    color: #fcfcfc;
  }

  .logo {
    float: left;
    padding: 15px;

    .brand, .subtitle {
      display: table-cell;
      vertical-align: middle;
    }

    .brand {
      padding-right: 15px;
      font-size: 18px;
      font-weight: 900;
      line-height: 1;
    }

    .subtitle {
      padding-left: 15px;
      font-size: 13px;
      color: #ddd;
      border-left: 1px solid #999;
    }
  }

  nav {
    float: right;
    padding: 0 15px;

    li {
      float: left;

      a {
        display: block;
        padding: 13px 0 0 15px;
        color: #aaa;
      }
    }
  }
}
