* {
  margin: 0;
  padding: 0;
  font-kerning: none;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  height: 100%;
  flex-direction: column;
  font-family: sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

table {
  width: 100%;
  border: 0;
  border-collapse: collapse;
}

tr, th, td {
  border: 0;
  border-collapse: collapse;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1180px;
}

.content {
  flex: 1 0 auto;
}

.view-content {
  width: calc(100% - 200px);
  margin-left: 200px;
  padding: 100px 60px 50px;
}

// import partials
@import "normalize";
@import "sidebar";
@import "header";
@import "footer";
@import "tables";
@import "forms";
