<!-- Template for list-table -->

<head>
  <meta charset="UTF-8" />
  <title>Welcome to WABuR</title>
  <link rel="stylesheet" type="text/css" media="screen, print" href="wab.css" />
  <link rel="stylesheet" type="text/css" media="screen, print" href="assets/wabfont/style.css" />
</head>

<table class="obj-list-table">

    <tr>
      <td>
        <table class="obj-list-table">
          <thead>
            <th style="width:100px">Title</th>
            <th style="width:auto">Text</th>
            <th style="width:196">Actions</th>
          </thead>
        </table>
      </td>
    </tr>


    <tr>
      <td>
        <div class="table-wrapper">

          <table class="obj-list-table">
            <tbody>
              <tr>
                <td>Sample</td>
                <td>Just some random text.</td>
                <td class="actions" title="View"><span class="icon icon-eye"></span></td>
                <td class="actions" title="Edit"><span class="icon icon-pencil"></span></td>
                <td class="actions delete" title="Delete"><span class="icon icon-trash-o"></span></td>
              </tr>
              <tr>
                <td>Third</td>
                <td>Third article.</td>
                <td class="actions" title="View"><span class="icon icon-eye"></span></td>
                <td class="actions" title="Edit"><span class="icon icon-pencil"></span></td>
                <td class="actions delete" title="Delete"><span class="icon icon-trash-o"></span></td>
              </tr>

              <tr>
                <td>Third</td>
                <td>Third article.</td>
                <td class="actions" title="View"><span class="icon icon-eye"></span></td>
                <td class="actions" title="Edit"><span class="icon icon-pencil"></span></td>
                <td class="actions delete" title="Delete"><span class="icon icon-trash-o"></span></td>
              </tr>
              <tr>
                <td>Third</td>
                <td>Third article.</td>
                <td class="actions" title="View"><span class="icon icon-eye"></span></td>
                <td class="actions" title="Edit"><span class="icon icon-pencil"></span></td>
                <td class="actions delete" title="Delete"><span class="icon icon-trash-o"></span></td>
              </tr>
              <tr>
                <td>Third</td>
                <td>Third article.</td>
                <td class="actions" title="View"><span class="icon icon-eye"></span></td>
                <td class="actions" title="Edit"><span class="icon icon-pencil"></span></td>
                <td class="actions delete" title="Delete"><span class="icon icon-trash-o"></span></td>
              </tr>
              <tr>
                <td>Third</td>
                <td>Third article.</td>
                <td class="actions" title="View"><span class="icon icon-eye"></span></td>
                <td class="actions" title="Edit"><span class="icon icon-pencil"></span></td>
                <td class="actions delete" title="Delete"><span class="icon icon-trash-o"></span></td>
              </tr>
              <tr>
                <td>Third</td>
                <td>Third article.</td>
                <td class="actions" title="View"><span class="icon icon-eye"></span></td>
                <td class="actions" title="Edit"><span class="icon icon-pencil"></span></td>
                <td class="actions delete" title="Delete"><span class="icon icon-trash-o"></span></td>
              </tr>
              <tr>
                <td>Third</td>
                <td>Third article.</td>
                <td class="actions" title="View"><span class="icon icon-eye"></span></td>
                <td class="actions" title="Edit"><span class="icon icon-pencil"></span></td>
                <td class="actions delete" title="Delete"><span class="icon icon-trash-o"></span></td>
              </tr>
              <tr>
                <td>Third</td>
                <td>Third article.</td>
                <td class="actions" title="View"><span class="icon icon-eye"></span></td>
                <td class="actions" title="Edit"><span class="icon icon-pencil"></span></td>
                <td class="actions delete" title="Delete"><span class="icon icon-trash-o"></span></td>
              </tr>
              <tr>
                <td>Third</td>
                <td>Third article.</td>
                <td class="actions" title="View"><span class="icon icon-eye"></span></td>
                <td class="actions" title="Edit"><span class="icon icon-pencil"></span></td>
                <td class="actions delete" title="Delete"><span class="icon icon-trash-o"></span></td>
              </tr>
              <tr>
                <td>Third</td>
                <td>Third article.</td>
                <td class="actions" title="View"><span class="icon icon-eye"></span></td>
                <td class="actions" title="Edit"><span class="icon icon-pencil"></span></td>
                <td class="actions delete" title="Delete"><span class="icon icon-trash-o"></span></td>
              </tr>
              <tr>
                <td>Third</td>
                <td>Third article.</td>
                <td class="actions" title="View"><span class="icon icon-eye"></span></td>
                <td class="actions" title="Edit"><span class="icon icon-pencil"></span></td>
                <td class="actions delete" title="Delete"><span class="icon icon-trash-o"></span></td>
              </tr>
              <tr>
                <td>Third</td>
                <td>Third article.</td>
                <td class="actions" title="View"><span class="icon icon-eye"></span></td>
                <td class="actions" title="Edit"><span class="icon icon-pencil"></span></td>
                <td class="actions delete" title="Delete"><span class="icon icon-trash-o"></span></td>
              </tr>
              <tr>
                <td>Third</td>
                <td>Third article.</td>
                <td class="actions" title="View"><span class="icon icon-eye"></span></td>
                <td class="actions" title="Edit"><span class="icon icon-pencil"></span></td>
                <td class="actions delete" title="Delete"><span class="icon icon-trash-o"></span></td>
              </tr>
              <tr>
                <td>Third</td>
                <td>Third article.</td>
                <td class="actions" title="View"><span class="icon icon-eye"></span></td>
                <td class="actions" title="Edit"><span class="icon icon-pencil"></span></td>
                <td class="actions delete" title="Delete"><span class="icon icon-trash-o"></span></td>
              </tr>
              <tr>
                <td>Third</td>
                <td>Third article.</td>
                <td class="actions" title="View"><span class="icon icon-eye"></span></td>
                <td class="actions" title="Edit"><span class="icon icon-pencil"></span></td>
                <td class="actions delete" title="Delete"><span class="icon icon-trash-o"></span></td>
              </tr>
              <tr>
                <td>Third</td>
                <td>Third article.</td>
                <td class="actions" title="View"><span class="icon icon-eye"></span></td>
                <td class="actions" title="Edit"><span class="icon icon-pencil"></span></td>
                <td class="actions delete" title="Delete"><span class="icon icon-trash-o"></span></td>
              </tr>
              <tr>
                <td>Third</td>
                <td>Third article.</td>
                <td class="actions" title="View"><span class="icon icon-eye"></span></td>
                <td class="actions" title="Edit"><span class="icon icon-pencil"></span></td>
                <td class="actions delete" title="Delete"><span class="icon icon-trash-o"></span></td>
              </tr>
              <tr>
                <td>Third</td>
                <td>Third article.</td>
                <td class="actions" title="View"><span class="icon icon-eye"></span></td>
                <td class="actions" title="Edit"><span class="icon icon-pencil"></span></td>
                <td class="actions delete" title="Delete"><span class="icon icon-trash-o"></span></td>
              </tr>
              <tr>
                <td>Third</td>
                <td>Third article.</td>
                <td class="actions" title="View"><span class="icon icon-eye"></span></td>
                <td class="actions" title="Edit"><span class="icon icon-pencil"></span></td>
                <td class="actions delete" title="Delete"><span class="icon icon-trash-o"></span></td>
              </tr>
              <tr>
                <td>Third</td>
                <td>Third article.</td>
                <td class="actions" title="View"><span class="icon icon-eye"></span></td>
                <td class="actions" title="Edit"><span class="icon icon-pencil"></span></td>
                <td class="actions delete" title="Delete"><span class="icon icon-trash-o"></span></td>
              </tr>
              <tr>
                <td>Third</td>
                <td>Third article.</td>
                <td class="actions" title="View"><span class="icon icon-eye"></span></td>
                <td class="actions" title="Edit"><span class="icon icon-pencil"></span></td>
                <td class="actions delete" title="Delete"><span class="icon icon-trash-o"></span></td>
              </tr>
              <tr>
                <td>Third</td>
                <td>Third article.</td>
                <td class="actions" title="View"><span class="icon icon-eye"></span></td>
                <td class="actions" title="Edit"><span class="icon icon-pencil"></span></td>
                <td class="actions delete" title="Delete"><span class="icon icon-trash-o"></span></td>
              </tr>
              <tr>
                <td>Third</td>
                <td>Third article.</td>
                <td class="actions" title="View"><span class="icon icon-eye"></span></td>
                <td class="actions" title="Edit"><span class="icon icon-pencil"></span></td>
                <td class="actions delete" title="Delete"><span class="icon icon-trash-o"></span></td>
              </tr>
              <tr>
                <td>Third</td>
                <td>Third article.</td>
                <td class="actions" title="View"><span class="icon icon-eye"></span></td>
                <td class="actions" title="Edit"><span class="icon icon-pencil"></span></td>
                <td class="actions delete" title="Delete"><span class="icon icon-trash-o"></span></td>
              </tr>
              <tr>
                <td>Third</td>
                <td>Third article.</td>
                <td class="actions" title="View"><span class="icon icon-eye"></span></td>
                <td class="actions" title="Edit"><span class="icon icon-pencil"></span></td>
                <td class="actions delete" title="Delete"><span class="icon icon-trash-o"></span></td>
              </tr>

          </table>
        </div>
      </td>
    </tr>
  </tbody>
</table>
