<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Welcome to WABuR</title>
    <link rel="stylesheet" type="text/css" media="screen, print" href="wab.css" />
  </head>
  <body onresize="resizeList()">
    <header class="header">
      <div class="container">
        <div class="logo">
          <span class="brand">WABuR</span>
          <span class="subtitle">Web Application Builder using Ruby</span>
        </div>
        <nav class="navbar">
          <ul>
            <li><a href="#">About</a></li>
            <li><a href="https://github.com/ohler55/wabur">Contribute</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main id="view" class="content container">
      <!-- dynamic content -->
    </main>

    <footer class="footer">
      <div class="container">
        <div class="attribution">
          Powered by <a class="brand" href="https://github.com/ohler55/wabur">WABuR</a>
        </div>
      </div>
    </footer>
    <script src="js/wab.js"></script>
    <script src="conf.js"></script>
  </body>
</html>
