<!-- Template for list-table -->

<div class="table-wrapper">
  <table class="obj-list-table">
    <thead>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th colspan="3">Actions</th>
    </tr>
    </thead>
    <tbody>
      <tr>
        <td>Sample</td>
        <td>Just some random text.</td>
        <td class="actions" title="View"><span class="icon icon-eye"></span></td>
        <td class="actions" title="Edit"><span class="icon icon-pencil"></span></td>
        <td class="actions delete" title="Delete"><span class="icon icon-trash-o"></span></td>
      </tr>
      <tr>
        <td>Third</td>
        <td>Third article.</td>
        <td class="actions" title="View"><span class="icon icon-eye"></span></td>
        <td class="actions" title="Edit"><span class="icon icon-pencil"></span></td>
        <td class="actions delete" title="Delete"><span class="icon icon-trash-o"></span></td>
      </tr>
    </tbody>
  </table>
</div>
