* {
  margin: 0;
  padding: 0;
  font-kerning: none;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1180px;
}
.header {
  padding: 0 15px;
  color: #eaeaea;
  background: #333;
}

.header a:hover,
.footer a:hover {
  color: #fcfcfc;
}

.header .logo {
  float: left;
  padding: 15px;
}

.header .logo .brand,
.header .logo .subtitle {
  display: table-cell;
  vertical-align: middle;
}

.header .logo .brand {
  padding-right: 15px;
  font-size: 18px;
  font-weight: 900;
  line-height: 1;
}

.header .logo .subtitle {
  padding-left: 15px;
  font-size: 13px;
  color: #ddd;
  border-left: 1px solid #999;
}

.header nav {
  float: right;
  padding: 0 15px;
}

.header nav li {
  float: left;
}

.header nav li a {
  display: block;
  padding: 13px 0 0 15px;
  color: #aaa;
}

.footer {
  width: calc(100% - 200px);
  margin-left: 200px;
  background: #eee;
  color: #999;
  text-align: center;
}

.footer .attribution {
  padding: 15px 0 12px;
}

.footer .brand {
  color: #3eb1c1;
  font-weight: bold;
}

.content {
  flex: 1 0 auto;
}

.sidebar {
  position: fixed;
  width: 200px;
  min-height: 100%;
  padding: 30px 0;
  color: #eee;
  background: #212121;
}

.sidebar li {
  border-top: 1px solid #373737;
  border-bottom: 1px solid #0d0d0d;
}

.sidebar li:first-of-type {
  border-top-color: transparent;
}

.sidebar li:last-of-type {
  border-bottom-color: transparent;
}

.sidebar li a {
  display: block;
  padding: 15px;
  padding-left: 30px;
  color: #3eb1c1;
}

.sidebar li a:hover {
  color: #eee;
  background: #181818;
}

.view-content {
  width: calc(100% - 200px);
  margin-left: 200px;
  padding: 40px;
}

.view-content .object .object { padding-left: 15px; }
.view-content .object .object-item {
  display: table;
  padding: 4px 0;
}
.view-content .object .key.value-object {
  float: none;
  padding-bottom: 2px;
}

.view-content .object .key,
.view-content .object .value { float: left; }

.view-content .object .key { font-weight: bold; }
.view-content .object .key:after {
  content: ":";
  margin-right: 15px;
}

.type { margin-bottom: 15px; }
